  	body, select
	{
	  font-family: 'Droid Sans', serif;
      font-size: 14px;
	}
	select, input, label
	{
	  padding: 4px;
	}
	div#top
	{
	  margin-top: 10px;
	  margin-left: 15px;
	}
	label#label1
	{
	  margin-left: 30px;
	}
	button#begexp, button#butclose
	{
	  display: inline-block;
	  background-color: #03a9f4;
	  color: #fff;
	  cursor: pointer;
	  font: 500 14px/20px Roboto,sans-serif;
	  height: 36px;
	  margin-left: 30px;
	  min-width: 36px;
	  outline: 0;
	  overflow: hidden;
	  padding: 8 px;
	  text-align: center;
	  text-decoration: none;
	  text-overflow: ellipsis;
	  text-transform: uppercase;
	  transition: background-color .2s,box-shadow .2s;
	  vertical-align: baseline;
	  white-space: nowrap;
	  border-radius: 0px;
	  align-items: flex-start;
	  letter-spacing: normal;
	  word-spacing: normal;
	  text-indent: 0px;
	  text-shadow: none;
	  border-spacing: 0;
	  border-collapse: collapse;
	}
	button#butclose
	{
	   margin-left: 46%
	}
	div#botleft
	{
	   margin-left: 15px;
	   width:380px;
	   float: left;
	}
	div#botRig
	{
	   margin-left: 385px;
	   margin-right: 15px;
	}
	div#eq1
	{
	  margin-left: 40%
	}
	div#eq2
	{
	  margin-left: 43%
	}
	h1#heading
	{
	  text-align: center;
	  text-transform: uppercase;
	}
	#overlay
	{
      position: fixed;
      top: 0;
      bottom: 0;
	  left: 0;
	  right: 0;
      background: #999;
      width: 100%;
      height: 100%;
      opacity: 0.8;
      z-index: 100;
	  display: block;
    }
    #popup
	{
      position: fixed;
      top: 50%;
      left: 50%;
      background: #fff;
      width: 1000px;
      height: 550px;
      margin-left: -500px; /*Half the value of width to center div*/
      margin-top:  -275px; /*Half the value of height to center div*/
      z-index: 200;
	  display: block;
	}	
	iframe#ivideo
	{
	  margin-left: 22%;
	}
	p#op
	{
	  margin-left: 32%
	}
